.formContainer {
       margin: 2px auto;
       background: #DBE4FF;
       width: 500px;
       border-width: 1px;
       border-style: solid;
       border-color: purple;
       padding: 10px;
}
.formTitle {
         font-size:24px; font-weight:bold;
         padding: 10px;
}
form {
         margin-top: 5px;
         width: 480px;
}
.formRow {
         position:relative;
         padding: 4px 0.75em 2px 10em;
}
.formRow label {
         position: absolute;
         left: 0.75em;
}
